/* PostItem.css */
.post-item {
    overflow: hidden;
    background-color: #fff;
    width: 470px;
    height: 658px;

}

.post-header {
    font-size: 14px;
    font-weight: bold;
    width: 466px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    padding: 0px 0px 12px 4px;
}

.post-image {
    width: 468px;
    height: 468px;
}

.post-caption {
    padding: 10px;
    font-size: 14px;
}

.profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

/* 더보기 버튼 스타일 */
.more-icon {
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    margin: 4px 0px 4px 0px;
}

.post-action-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 8px;
}

.save-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: auto;
    /* 저장 아이콘을 오른쪽 끝으로 밀기 */
}